/* Mobile First*/
@font-face {
    font-family:'Montserrat' ;
    src: url('/fonts/Montserrat/Montserrat.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
body {
    font-family:'Montserrat' ;
    background-color: #02021f;
    margin: 0;
    padding: 0;
    color: #f4f0f0;
}

header {
    background-color: #6B8E23; /* Verde musgo */
    padding: 10px 20px;
    text-align: center;
}
#hero .logo-principal{
    width: 460px;
    height: 350px;
}
div #firstTTitle{
    text-align: center;
    display: flex;
    flex-direction: column;
}

#hero {
    padding: 20px 20px;
    text-align: center;
}
.topTitle{
    text-transform: uppercase;
    background: linear-gradient(to right, #666eff,#2693f9,#343df0);
    background-size: 400% 100%;
    animation: degrade 30s linear infinite alternate;
    
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}

#hero .f {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
}
#hero h3{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 60px;
    margin-right: 60px;
}


.cta {
    background-color: #07cd2e;
    border: none;
    color: black;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}

.cta:hover {
    animation: none;
}
#ctafooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 6px;
}
#hero p {
    font-size: 16px;
    margin: 0px;
}
section #sobre{
    display: flex;
    text-align: center;
}
#inteligencia-emocional{
    text-align: center;
    width: 40%;
    height: 400px;
    border: solid 1px;
    border-color: #fff;
    border-radius: 20px;
    margin-left: 30%;
    margin-right: 0%;
}
#ctafooter img{
    max-width: 18px;
    padding: 0px 7px;
}

#sobre, #servicos, #contato {
    padding: 40px 20px;
    text-align: center;
}

footer {
    background-color: #010211;
    color: white;
    padding: 20px;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 40px;
}

.social-icons a {
    width: 60%;
    max-width: 40px;
}

.social-icons img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media(min-width: 768px) {
    #hero h1 {
        font-size: 36px;
    }
    .nav-links {
        gap: 100px;
    }
}
